<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>axios get ํ์๊ฐ์</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>axios get</h2>
    <form name="register">
      <label for="username">์ด๋ฆ</label>
      <input type="text" name="username" id="username" />
      <br />

      <fieldset>
        <legend>์ฑ๋ณ</legend>
        <input type="radio" name="gender" id="male" value="male" />
        <label for="male">๋จ์</label>
        <input type="radio" name="gender" id="female" value="female" />
        <label for="female">์ฌ์</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>์๋์์ผ</legend>
        <select name="birthYear" id="year">
          <% for (let i = 0; i < 50; i++) { %>
          <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
          <% } %>
        </select>
        <label for="year">๋</label>
        <select name="birthMonth" id="month">
          <% for (let i = 1; i < 13; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">์</label>
        <select name="birthDay" id="day">
          <% for (let i = 1; i < 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">์ผ</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>๊ด์ฌ์ฌ</legend>
        <input type="checkbox" name="hobby" id="travel" value="travel" />
        <label for="travle">์ฌํ</label>
        <input type="checkbox" name="hobby" id="fashion" value="fashion" />
        <label for="fashion">ํจ์</label>
        <input type="checkbox" name="hobby" id="food" value="food" />
        <label for="food">์์</label>
      </fieldset>

      <button type="button" onClick="login();">ํ์๊ฐ์</button>
    </form>
    <div class="result"></div>

    <br />
    <br />
    <hr />
    <h2>์ค์ต2. axios post ๋ก๊ทธ์ธ</h2>
    <form name="login">
      <label for="userId">์์ด๋</label>
      <input type="text" id="userId" name="userId" required="" />
      <label for="userPw">๋น๋ฐ๋ฒํธ</label>
      <input type="password" id="userPw" name="userPw" required="" />
      <button type="button" onClick="clickLogin();">๋ก๊ทธ์ธ</button>
    </form>
    <div><%= userid%></div>
    <div class="login-result"></div>
  </body>
  <script>
    const resultBox = document.querySelector('div.result');
    const loginBox = document.querySelector('div.login-result');

    async function clickLogin() {
      const form = document.forms['login'];
      const data = {
        id: form.userId.value,
        pw: form.userPw.value,
      };
      try {
        const res = await axios({
          method: 'POST',
          url: '/axios',
          data: data,
        });
        if (userid === res.data.id && userpw === res.data.inputid) {
          loginBox.textContent = `${id}๋! ๋ก๊ทธ์ธ ์ฑ๊ณต๐`;
          loginBox.style.color = 'blue';
        } else {
          loginBox.textContent = `์์ด๋ ๋๋ ํจ์ค์๋ ์ค๋ฅ๐ฅ`;
          loginBox.style.color = 'red';
        }
      } catch (error) {
        console.log('์๋ฌ๋', error);
      }
    }

    async function login() {
      const form = document.forms['register'];
      const data = {
        name: form.username.value,
        gender: form.gender.value,
      };
      try {
        const res = await axios({
          method: 'GET',
          url: '/axios',
          params: data,
        });
        const { name, gender } = res.data;
        resultBox.textContent = `${name}๋ ํ์ํฉ๋๋ค! ๊ฐ์์ด ์๋ฃ๋์์ต๋๋ค..๐`;
        resultBox.style.color = 'blue';
      } catch (error) {
        console.log('์๋ฌ๋ฐ์ -> ', error);
      }
    }
  </script>
</html>
